[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
flask-socketio = "*"
gunicorn = "*"
eventlet = "*"
flask-sslify = "*"


[requires]

python_version = "3.6"
